
extends email-layout.pug

block content
  if name
    div.mb-lg A password reset request was sent for your #{name} admin account.
  else
    div.mb-lg A password reset request was sent for your account.
  div.mb-lg This link expires in #{expires} minutes.
  a.link(href=`${clientUrl}reset-password?token=${token}${type ? `&user_type=${type}` : ''}`) Click this link to continue resetting your password.
  div.mt-lg If this wasn't you kindly ignore this email.
